.container{
    height: 80vh;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 3rem;
        color: #fff;
        font-weight: bold;
    }
}